NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=nestuser
DB_PASS=nestpass
DB_NAME=nestdb

JWT_SECRET=troque_por_um_secret_forte_aqui
JWT_EXPIRES_IN=7d

LOG_FILE_PATH=logs/app.log